/* Main container */
body {
  margin: 0;
  height: 100vh;
  background: #E9E9E9;
  font-family: 'Arial', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 
  width: 99%; 
  margin: 0 auto;
}

/* Map container */
.map-container {
	width: 100%;
	height: 80vh;
  border-radius: 15px;
}
